{% load static %}
{% comment %} 
<nav class="d-flex justify-content-between navbar navbar navbar-dark navbar-theme-primary px-2 d-lg-none align-items-center text-white" style=" background-color: #353942; z-index:10;" >
    <a class="navbar-brand" href="">
        <img class="navbar-brand-dark" src="{% static 'images/asvi_logo.svg' %}" alt="SynQues logo" />
    </a>
    <div class="d-flex">
        <div class="d-flex align-items-center" style="list-style: none;">
            <!-- Profile Dropdown -->
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="media d-flex align-items-center">
                        <div class="media-body ms-2 text-dark align-items-center">
                            <span class="mb-0 font-small fw-bold">
                                {{ request.session.user_name }}
                            </span>
                        </div>&nbsp;
                        <img class="avatar rounded-circle" alt="Image placeholder" src="{% static 'images/profile.png' %}" alt="icon" style="margin-right:10px;">
                    </div>
                </a>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-1  text-white" style="z-index: 9999; position: absolute; right: 0px;">
                    
                    <a class="dropdown-item d-flex align-items-center" href="">
                        <svg class="dropdown-icon text-danger me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                        </svg>
                        Logout
                    </a>
                </div>
            </li>
        </div>
        <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> <b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-list" viewBox="0 0 14 14 ">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </b></span>
        </button>
    </div>
</nav>
   {% endcomment %}
<main class="content" style="padding: 0;">
    <nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-theme-primary text-white " style=" background-color: #353942;  border-bottom: 1px solid gray; z-index:10;" id="navbartoggle">
        <button type="button" class="btn" id="sidebarToggle" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span id="sidebarIcon">
                <b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-list" viewBox="0 0 14 14 ">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </b>
            </span>
        </button>
        <div class="container-fluid px-3">
            <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
                <ul class="navbar-nav"></ul>
                <!-- Navbar Right Section -->
                <ul class="navbar-nav align-items-center">
                
                    <!-- Profile Dropdown -->
                    <li class="nav-item dropdown ms-lg-3">
                        <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="media d-flex align-items-center">
                                <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                                    <span class="mb-0 font-small fw-bold">
                                            {{ request.session.user_name }}
                                    </span>
                                </div>&nbsp;
                                <img class="avatar rounded-circle" alt="Image placeholder" src="{% static 'images/profile.png' %}" alt="icon" style="margin-right:10px;">
                            </div>
                        </a>
                        <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-1 navbar-theme-primary" style="background-color:  #353942; z-index: 9999; position: absolute; right: 0px;">
                            <a class="dropdown-item d-flex align-items-center" href="{% url "logout" %}">
                                <svg class="dropdown-icon text-danger me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                </svg>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</main>

<script>
    
    var mediaQuery = window.matchMedia('(min-width: 768px)');
    mediaQuery.addEventListener('change', handleMediaQueryChange);
    handleMediaQueryChange(mediaQuery);
    function handleMediaQueryChange(e)  {
        if (e.matches) {
            const sidebarToggle = document.getElementById('sidebarToggle');
        const sidebarIcon = document.getElementById('sidebarIcon');
        const sidebarMenu = document.getElementById('sidebarMenu');
        sidebarToggle.addEventListener('click', function() {
            let w = document.getElementById('sidebarMenu').style.width;
            let widthValue = parseInt(w);
            if (isNaN(widthValue)) {
                widthValue = 18;
            }
            if (widthValue > 7) {
                sidebarIcon.innerHTML = `
                <b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-list" viewBox="0 0 14 14 ">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </b>
                `;
                document.getElementById('sidebarMenu').style.width = "7%";
                document.getElementById('navbartoggle').style.width = "93%";
                document.querySelectorAll('span.sidebar-text').forEach(function(element) {
                    element.style.display = "none";
                });
                document.querySelectorAll('.content').forEach(function(element) {
                    element.style.marginLeft = "7%";
                    element.style.transition = "0.1s";
                });
            } else {
                sidebarIcon.innerHTML = `
                     <b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-list" viewBox="0 0 14 14 ">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </b>
                `;
                document.getElementById('navbartoggle').style.width = "82%";
                document.getElementById('sidebarMenu').style.width = "18%";
                document.querySelectorAll('span.sidebar-text').forEach(function(element) {
                    element.style.display = "inline";
                });
                document.querySelectorAll('.content').forEach(function(element) {
                    element.style.marginLeft = "18%";
                    element.style.transition = "0.1s";
                });
            }
        });
        }
        
    }
</script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
